<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<!-- Header.html Include -->
<div th:replace="~{fragments/header :: site-header}"></div>

<main>
    <h3> Welcome to My WebSite </h3>
</main>

<div th:replace="~{fragments/footer :: site-footer}"></div>

</body>
</html>