<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h3>회원정보수정</h3>
  <form action="/updateProfile" method="post" th:object="${member}" >
     <input  type="hidden"  name="id" th:field="*{id}"><br>
     이름: <input type="text" name="name" th:field="*{name}"><br>
     이메일: <input type="text" name="email" th:field="*{email}"><br>
     Pwd : <input type="text" name="pwd" th:field="*{pwd}">
     나이: <input type="text" name="age" th:field="*{age}"><br>
      <button type="submit">수정하기</button>
  </form>
</body>
</html>